<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="/img/foto.jpg"
        alt="Firman"
        class="img-thumbnail rounded-circle mt-2"
        width="230" />
      <h1 class="display-5">Firman dwi PS</h1>
      <p class="lead">Pelajar | Progemer</p>
    </div>
  </div>
</div>
